.wrapper {
    width: 1000px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    border: 5px solid rgb(192, 253, 49);
}

.sky {
    background: url('img/cloud.png');
    background-repeat: repeat;
    background-size: cover;
    height: 400px;
    width: 1000px;
    animation: skyMove 10s linear infinite;
    filter: blur(6px);

}


@keyframes skyMove {
    0% {
        background-position-x: 0;
    }

    100% {
        background-position-x: -1000px;
    }
}


.game {
    background: url('img/desert.png');
    background-repeat: repeat;
    background-size: cover;
    height: 200px;
    width: 1000px;
    animation: fieldMove 2s linear infinite;
    filter: blur(0.5px);
}


@keyframes fieldMove {
    0% {
        background-position: 0px;
    }

    100% {
        background-position: -1344px;
    }
}

#dino {
    width: 160px;
    height: 116px;
    background: url(img/dino.png) 0px 0px;
    animation: play 0.7s steps(8) infinite;
    position: relative;
    top: 50px;
}

#dino.jump {
    animation: jump-animation 0.5s linear;
}

@keyframes play {
    0% {
        background-position: 0px;
    }

    100% {
        background-position: -1344px;
    }
}

@keyframes jump-animation {
    0% {
        top: 50px;
    }

    15% {
        top: 15px;
    }

    30% {
        top: -30px;
    }

    50% {
        top: -80px;
    }

    75% {
        top: -30px;
    }

    90% {
        top: 15px;
    }

    100% {
        top: 50px;
    }
}

#cactus {
    width: 90px;
    height: 170px;
    background: url(img/cactus.png) 0px 0px;
    background-repeat: no-repeat;
    background-size: 58px;
    position: relative;
    top: -50px;
    left: 948px;
    animation: barrierMove 2s linear;
    animation-iteration-count: infinite;
}

@keyframes barrierMove {
    0% {
        left: 948px;
    }

    100% {
        left: -20px;
    }
}